html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Customize */

.navbar-dark {
  --bs-bg-opacity: 1;
  background-color: #48494a;
}

.kssp-logo>img {
  height: 80px;
}

.header-menu {
  background-image: linear-gradient(to bottom, #393939, #3b3b3b, #3c3c3d, #3e3e3f, #3f4041, #3f4041, #3f4041, #3f4041, #3e3e3f, #3c3c3d, #3b3b3b, #393939);
}

.header-logo, .footer-kerry {
  background-color: #212529;
}

@media (max-width: 992px) {

  .kssp-logo {
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  .kssp-logo>img {
      height: 50px;
  }
}