<footer class="footer text-muted" style="
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 10px;
">
    <div class="container">
        &copy; Copyright © 2025, KLN Seaport Ltd.
    </div>
</footer>